<form class="row mb-0" method="GET" action="/torrents">
  <div class="form-group col-12">
    <label for="input_movie">Name of the movie</label>
    <input name="torrent" type="text" class="form-control" id="input_movie" aria-describedby="input_movie_help">
    <small id="input_movie_help" class="form-text text-muted">We'll check for available torrents</small>
  </div>
  <div class="form-group col-12">
    <button type="submit" class="float-right btn btn-primary">Search</button>
  </div>
</form>